<a href="https://colab.research.google.com/github/nattapon44/time-table-project/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Project


 A set of time period T

```
- t in T = {8 am, 8:30 am, 9 am, 9:30 am, ..., 6 pm} 5 days / week
 Constraints
 T = t[d,h], d in Days {M,T,W,Th,F}, h in Hours {8 am, 8:30 am, 9 am, 9:30 am, ..., 11:30 am, 1 pm, 1:30 pm, ..., 6 pm}
 T = [(1,1),(1,2),...,(1,18),(2,1),...,(5,18)]
 T = [(1,1):('Monday','8am'),...]
 - cost of time periods
 w_t = {(1,1): 0.5, ..., ..., (5,15): 0.7, ..., (5,18): 1}
```

Definition
```
 d = {1:"M",2:"T",3:"W",4:"Th",5:"F"}
 h = {1:"8am", 2:"8:30am", 3:"9am", 4:"9:30am", 5:"10am", 6:"10:30am", 7:"11am", 8:"11:30am",
    9:"1pm", 10:"1:30pm", 11:"2pm", 12:"2:30pm", 13:"3pm", 14:"3:30pm", 15:"4pm", 16:"4:30pm", 17:"5pm", 18:"5:30pm", 19:"6pm"}
```

In [ ]:
T = {(1,1):('Monday','8am'), (1,2):('Monday','8:30am'), (1,3):('Monday','9am'), (1,4):('Monday','9:30am'), (1,5):('Monday','10am')
       , (1,6):('Monday','10:30am'), (1,7):('Monday','11am'), (1,8):('Monday','11:30am'), (1,9):('Monday','1pm')
       , (1,10):('Monday','1:30pm'), (1,11):('Monday','2pm'), (1,12):('Monday','2:30pm'), (1,13):('Monday','3pm')
       , (1,14):('Monday','3:30pm'), (1,15):('Monday','4pm'), (1,16):('Monday','4:30pm'), (1,17):('Monday','5am'), (1,18):('Monday','5:30pm'),(1,19):('Monday','6pm')
       , (2,1):('Tuesday','8am'), (2,2):('Tuesday','8:30am'), (2,3):('Tuesday','9am'), (2,4):('Tuesday','9:30am'), (2,5):('Tuesday','10am')
       , (2,6):('Tuesday','10:30am'), (2,7):('Tuesday','11am'), (2,8):('Tuesday','11:30am'), (2,9):('Tuesday','1pm')
       , (2,10):('Tuesday','1:30pm'), (2,11):('Tuesday','2pm'), (2,12):('Tuesday','2:30pm'), (2,13):('Tuesday','3pm')
       , (2,14):('Tuesday','3:30pm'), (2,15):('Tuesday','4pm'), (2,16):('Tuesday','4:30pm'), (2,17):('Tuesday','5am'), (2,18):('Tuesday','5:30pm'),(2,19):('Tuesday','6pm')
       , (3,1):('Wednesday','8am'), (3,2):('Wednesday','8:30am'), (3,3):('Wednesday','9am'), (3,4):('Wednesday','9:30am'), (3,5):('Wednesday','10am')
       , (3,6):('Wednesday','10:30am'), (3,7):('Wednesday','11am'), (3,8):('Wednesday','11:30am'), (3,9):('Wednesday','1pm')
       , (3,10):('Wednesday','1:30pm'), (3,11):('Wednesday','2pm'), (3,12):('Wednesday','2:30pm'), (3,13):('Wednesday','3pm')
       , (3,14):('Wednesday','3:30pm'), (3,15):('Wednesday','4pm'), (3,16):('Wednesday','4:30pm'), (3,17):('Wednesday','5am'), (3,18):('Wednesday','5:30pm'),(3,19):('Wednesday','6pm')
       , (4,1):('Thursday','8am'), (4,2):('Thursday','8:30am'), (4,3):('Thursday','9am'), (4,4):('Thursday','9:30am'), (4,5):('Thursday','10am')
       , (4,6):('Thursday','10:30am'), (4,7):('Thursday','11am'), (4,8):('Thursday','11:30am'), (4,9):('Thursday','1pm')
       , (4,10):('Thursday','1:30pm'), (4,11):('Thursday','2pm'), (4,12):('Thursday','2:30pm'), (4,13):('Thursday','3pm')
       , (4,14):('Thursday','3:30pm'), (4,15):('Thursday','4pm'), (4,16):('Thursday','4:30pm'), (4,17):('Thursday','5am'), (4,18):('Thursday','5:30pm'),(4,19):('Thursday','6pm')
       , (5,1):('Friday','8am'), (5,2):('Friday','8:30am'), (5,3):('Friday','9am'), (5,4):('Friday','9:30am'), (5,5):('Friday','10am')
       , (5,6):('Friday','10:30am'), (5,7):('Friday','11am'), (5,8):('Friday','11:30am'), (5,9):('Friday','1pm')
       , (5,10):('Friday','1:30pm'), (5,11):('Friday','2pm'), (5,12):('Friday','2:30pm'), (5,13):('Friday','3pm')
       , (5,14):('Friday','3:30pm'), (5,15):('Friday','4pm'), (5,16):('Friday','4:30pm'), (5,17):('Friday','5am'), (5,18):('Friday','5:30pm'),(5,19):('Friday','6pm') }

A set of classrooms R

```
R = {1: ('SC6409',40), ...}
capacity = 40 --> R[1][1]
list(R.keys())[0]
R[list(R.keys())[0]][1]
- Room capacity rc_r ห้องเรียน r ที่มีความจุได้ rc_r คน
- Cost of using that classrooms k_r
```
Definition


```
r = {1:'SC6409', 2:'SC6501', 3:'SC6502', 4:'LAB'}
c = {1:'40', 2:'75', 3:'80' , 4:'40'}
```

In [11]:
R = {1: {"RoomName": 'SC6409',
        "RoomCapacity": 40},
     2: {"RoomName": 'SC6501',
        "RoomCapacity": 75},
     3: {"RoomName": 'SC6502',
        "RoomCapacity": 80},
     4: {"RoomName": 'LAB',
        "RoomCapacity": 40}
    }

A set of courses C

```
C = {1: ('Stat Analz 1', {1:'Wichuda', 2:'Pitchaya'}), 2: ('Nonparametric',{2: 'Pitchaya'}), ...}
- cc_c: Course capacity
- d_c: Duration in a week of a course เวลาเรียนตามหน่วยกิต
- pr_c in {1,2,3}: Whole one period or separate periods in a week สอนกี่ครั้งในหนึ่งสัปดาห์ เข่น pr_c=1 เป็นการเรียนครั้งเดียวต่อสัปดาห์
```
```
A set of courses C
C = {1: {"courseName": 'Stat Analz 1',
         "teachers": {1:'Wichuda', 2:'Pitchaya'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     2: {"courseName": 'Nonparametric',
         "teachers": {2:'Pitchaya'},
         "courseCapacity": 30,
         "hoursPerWeek": [2,2]},
     ...}
```

Definition
```
c = {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing", 6:"Insurance"}
p = {1:"Wannaporn", 2:"Sukanya", 3:"Tammarat", 4:"Pitchaya", 5:"Jitjira", 6:"Palakorn", 7:"Thippatai"}
```

In [7]:
C = {1: {"courseName": 'Experimental Design',
         "teachers": {1:'Wannaporn'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     2: {"courseName": 'Research Methodology',
         "teachers": {2:'Sukanya'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     3: {"courseName": 'Linear Programming',
         "teachers": {2:'Tammarat'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     4: {"courseName": 'Basic of Data Science',
         "teachers": {2:'Pitchaya'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     5: {"courseName": 'Data Processing',
         "teachers": {2:'Jitjira', 6:'Palakorn'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     6: {"courseName": 'Insurance',
         "teachers": {2:'Thippatai'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
     }

A set of professor P

```
P = {1: {'Name':'Wichuda',
		 'Availability': [(1,1),(1,2),....]},
	 2: {'Name':'Pitchaya',
		 'Availability': [(1,1),(1,2),....]},
	 ...}
- a_pt: Availability of a professor at time t
```

In [ ]:
P = {1: {'Name':'Wannaporn',
		 'Availability': [(1,1),(1,2)]},
	   2: {'Name':'Sukanya',
		 'Availability': [(1,1),(1,2)]},
     3: {'Name':'Tammarat',
		 'Availability': [(1,1),(1,2)]},
	   4: {'Name':'Pitchaya',
		 'Availability': [(1,1),(1,2)]},
     5: {'Name':'Jitjira',
		 'Availability': [(1,1),(1,2)]},
	   6: {'Name':'Palakorn',
		 'Availability': [(1,1),(1,2)]},
     7: {'Name':'Thippatai',
		 'Availability': [(1,1),(1,2)]}}

A set of students S

```
S = {1: ('sid1', {1: 'Stat Analz 1', 2: 'Nonparametric'}), 2: ..., ....}
- a_st: Availability of student at time t
```

```
S = {‘id1’: {‘name’: ‘sid1’,
       ‘courseRegister’:  {1: ‘courseName1’, 2: ‘courseName2’}},
        ‘id2’: {‘name’: ‘stat1,
       ‘courseRegister’:  {1: ‘courseName2’, 2: ‘courseName3’}},
    …}
S = {‘id1’: {‘name’: ‘sid1’,
       ‘courseRegister’:  {1: ‘Stat Analz 1', 2: ‘Nonparametric'}},
        ‘id2’: {‘name’: ‘stat1,
       ‘courseRegister’:  {2: ‘'Nonparametric'}},
    …}
```

In [ ]:
S = { 'id1': {'name': 'Techin',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Linear Programming', 4:'Basic of Data Science', 5:'Data Processing', 6:'Insurance'}},
      'id2': {'name': 'Kanokporn',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Linear Programming', 4:'Basic of Data Science', 5:'Data Processing'}},
      'id3': {'name': 'Kanokon',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Basic of Data Science', 4:'Data Processing'}},
      'id4': {'name': 'Janjira',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Linear Programming', 4:'Basic of Data Science', 5:'Data Processing'}},
      'id5': {'name': 'Jiraphat',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Linear Programming', 4:'Basic of Data Science', 5:'Data Processing'}},
      'id6': {'name': 'Jirawat',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Linear Programming', 4:'Basic of Data Science', 5:'Data Processing'}},
      'id7': {'name': 'Nattapon',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Linear Programming', 4:'Basic of Data Science', 5:'Data Processing'}},
      'id8': {'name': 'Pongthep',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Basic of Data Science', 4:'Data Processing', 5:'Insurance'}},
      'id9': {'name': 'Thapanee',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Basic of Data Science', 4:'Data Processing'}},
      'id10': {'name': 'Yanin',
      'courseRegister':  {1:'Experimental Design', 2:'Research Methodology', 3:'Basic of Data Science', 4:'Data Processing', 5:'Insurance'}},
    }

Data: บางวิชามีผู้สอนร่วม

```
Key is a course c and Value is a set of professor(s) p teaching course c
PCassign = {[1]: [1,2],
	  		[2]: 2,
	  		[3]: 1,
	  		[4]: 3,
	  		[5]: [1,3]}
```