<a href="https://colab.research.google.com/github/nattapon44/time-table-project/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Project


 A set of time period T

```
- t in T = {8 am, 8:30 am, 9 am, 9:30 am, ..., 6 pm} 5 days / week
Constraints
T = t[d,h], d in Days {M,T,W,Th,F}, h in Hours {8 am, 8:30 am, 9 am, 9:30 am, ..., 11:30 am, 1 pm, 1:30 pm, ..., 6 pm}
T = [(1,1),(1,2),...,(1,18),(2,1),...,(5,18)]
T = [(1,1):('Monday','8am'),...]

T = {1: {"Day": (1, "Monday"),
		 "Hour": (1, "8 am"),
		 "Cost": 0.5},
	 2: {"Day": (1, "Monday"),
		 "Hour": (2, "8:30 am"),
		 "Cost": 0.5},
		 ...,
	 18: {"Day": (1, "Monday"),
		 "Hour": (18, "5:30 pm"),
		 "Cost": 0.5},
		 ...
	 19: {"Day": (2, "Tuesday"),
		 "Hour": (1, "8:30 am"),
		 "Cost": 0.5},
		 ...,
   	 90: {"Day": (5, "Friday"),
		 "Hour": (2, "5:30 pm"),
		 "Cost": 1}}
	# Cost of studying on Thursday is high bcuz it is a day of meeting for professors
	# Cost Thursday morning ==> 0.7
		   Thursday afternoon ==> 1
	# Cost of studying in the morning (< 9 am) is high ==> 0.5
	# Cost of studying in the late afternoon (> 4 pm) is high ==> 0.7
	# Other than that costs 0

- cost of time periods

```

Definition
```
 d = {1:"M",2:"T",3:"W",4:"Th",5:"F"}
 h = {1:"8am", 2:"8:30am", 3:"9am", 4:"9:30am", 5:"10am", 6:"10:30am", 7:"11am", 8:"11:30am",
    9:"1pm", 10:"1:30pm", 11:"2pm", 12:"2:30pm", 13:"3pm", 14:"3:30pm", 15:"4pm", 16:"4:30pm", 17:"5pm", 18:"5:30pm", 19:"6pm"}
```

In [3]:
T = { 1: {"Day": (1, "Monday"),
		      "Hour": (1, "8 am"),
		      "Cost": 0.5},
   	  2: {"Day": (1, "Monday"),
		      "Hour": (2, "8:30 am"),
	 	      "Cost": 0.5},
	    3: {"Day": (1, "Monday"),
	     	  "Hour": (3, "9 am"),
	     	  "Cost": 0.5},
	    4: {"Day": (1, "Monday"),
		      "Hour": (4, "9:30 am"),
		      "Cost": 0.5},
   	  5: {"Day": (1, "Monday"),
		      "Hour": (5, "10 am"),
	 	      "Cost": 0.5},
	    6: {"Day": (1, "Monday"),
	     	  "Hour": (6, "10:30 am"),
	     	  "Cost": 0.5},
      7: {"Day": (1, "Monday"),
	     	  "Hour": (7, "11 am"),
	     	  "Cost": 0.5},
      8: {"Day": (1, "Monday"),
		      "Hour": (8, "11:30 am"),
		      "Cost": 0.5},
   	  9: {"Day": (1, "Monday"),
		      "Hour": (9, "1 pm"),
	 	      "Cost": 0.5},
	    10: {"Day": (1, "Monday"),
	     	  "Hour": (10, "1:30 pm"),
	     	  "Cost": 0.5},
	    11: {"Day": (1, "Monday"),
		      "Hour": (11, "2 pm"),
		      "Cost": 0.5},
   	  12: {"Day": (1, "Monday"),
		      "Hour": (12, "2:30 pm"),
	 	      "Cost": 0.5},
	    13: {"Day": (1, "Monday"),
	     	  "Hour": (13, "3 pm"),
	     	  "Cost": 0.5},
      14: {"Day": (1, "Monday"),
	     	  "Hour": (14, "3:30 pm"),
	     	  "Cost": 0.5},
      15: {"Day": (1, "Monday"),
		      "Hour": (15, "4 pm"),
		      "Cost": 0.5},
   	  16: {"Day": (1, "Monday"),
		      "Hour": (16, "4:30 pm"),
	 	      "Cost": 0.5},
	    17: {"Day": (1, "Monday"),
	     	  "Hour": (17, "5 pm"),
	     	  "Cost": 0.5},
	    18: {"Day": (1, "Monday"),
		      "Hour": (18, "5:30 pm"),
		      "Cost": 0.5},
      19: {"Day": (2, "Tuesday"),
		      "Hour": (1, "8 am"),
		      "Cost": 0.5},
   	  20: {"Day": (2, "Tuesday"),
		      "Hour": (2, "8:30 am"),
	 	      "Cost": 0.5},
	    21: {"Day": (2, "Tuesday"),
	     	  "Hour": (3, "9 am"),
	     	  "Cost": 0.5},
	    22: {"Day": (2, "Tuesday"),
		      "Hour": (4, "9:30 am"),
		      "Cost": 0.5},
   	  23: {"Day": (2, "Tuesday"),
		      "Hour": (5, "10 am"),
	 	      "Cost": 0.5},
	    24: {"Day": (2, "Tuesday"),
	     	  "Hour": (6, "10:30 am"),
	     	  "Cost": 0.5},
      25: {"Day": (2, "Tuesday"),
	     	  "Hour": (7, "11 am"),
	     	  "Cost": 0.5},
      26: {"Day": (2, "Tuesday"),
		      "Hour": (8, "11:30 am"),
		      "Cost": 0.5},
   	  27: {"Day": (2, "Tuesday"),
		      "Hour": (9, "1 pm"),
	 	      "Cost": 0.5},
	    28: {"Day": (2, "Tuesday"),
	     	  "Hour": (10, "1:30 pm"),
	     	  "Cost": 0.5},
	    29: {"Day": (2, "Tuesday"),
		      "Hour": (11, "2 pm"),
		      "Cost": 0.5},
   	  30: {"Day": (2, "Tuesday"),
		      "Hour": (12, "2:30 pm"),
	 	      "Cost": 0.5},
	    31: {"Day": (2, "Tuesday"),
	     	  "Hour": (13, "3 pm"),
	     	  "Cost": 0.5},
      32: {"Day": (2, "Tuesday"),
	     	  "Hour": (14, "3:30 pm"),
	     	  "Cost": 0.5},
      33: {"Day": (2, "Tuesday"),
		      "Hour": (15, "4 pm"),
		      "Cost": 0.5},
   	  34: {"Day": (2, "Tuesday"),
		      "Hour": (16, "4:30 pm"),
	 	      "Cost": 0.5},
	    35: {"Day": (2, "Tuesday"),
	     	  "Hour": (17, "5 pm"),
	     	  "Cost": 0.5},
	    36: {"Day": (2, "Tuesday"),
		      "Hour": (18, "5:30 pm"),
		      "Cost": 0.5},
      37: {"Day": (3, "Wednesday"),
		      "Hour": (1, "8 am"),
		      "Cost": 0.5},
   	  38: {"Day": (3, "Wednesday"),
		      "Hour": (2, "8:30 am"),
	 	      "Cost": 0.5},
	    39: {"Day": (3, "Wednesday"),
	     	  "Hour": (3, "9 am"),
	     	  "Cost": 0.5},
	    40: {"Day": (3, "Wednesday"),
		      "Hour": (4, "9:30 am"),
		      "Cost": 0.5},
   	  41: {"Day": (3, "Wednesday"),
		      "Hour": (5, "10 am"),
	 	      "Cost": 0.5},
	    42: {"Day": (3, "Wednesday"),
	     	  "Hour": (6, "10:30 am"),
	     	  "Cost": 0.5},
      43: {"Day": (3, "Wednesday"),
	     	  "Hour": (7, "11 am"),
	     	  "Cost": 0.5},
      44: {"Day": (3, "Wednesday"),
		      "Hour": (8, "11:30 am"),
		      "Cost": 0.5},
   	  45: {"Day": (3, "Wednesday"),
		      "Hour": (9, "1 pm"),
	 	      "Cost": 0.5},
	    46: {"Day": (3, "Wednesday"),
	     	  "Hour": (10, "1:30 pm"),
	     	  "Cost": 0.5},
	    47: {"Day": (3, "Wednesday"),
		      "Hour": (11, "2 pm"),
		      "Cost": 0.5},
   	  48: {"Day": (3, "Wednesday"),
		      "Hour": (12, "2:30 pm"),
	 	      "Cost": 0.5},
	    49: {"Day": (3, "Wednesday"),
	     	  "Hour": (13, "3 pm"),
	     	  "Cost": 0.5},
      50: {"Day": (3, "Wednesday"),
	     	  "Hour": (14, "3:30 pm"),
	     	  "Cost": 0.5},
      51: {"Day": (3, "Wednesday"),
		      "Hour": (15, "4 pm"),
		      "Cost": 0.5},
   	  52: {"Day": (3, "Wednesday"),
		      "Hour": (16, "4:30 pm"),
	 	      "Cost": 0.5},
	    53: {"Day": (3, "Wednesday"),
	     	  "Hour": (17, "5 pm"),
	     	  "Cost": 0.5},
	    54: {"Day": (3, "Wednesday"),
		      "Hour": (18, "5:30 pm"),
		      "Cost": 0.5},
      55: {"Day": (4, "Thursday"),
		      "Hour": (1, "8 am"),
		      "Cost": 0.5},
   	  56: {"Day": (4, "Thursday"),
		      "Hour": (2, "8:30 am"),
	 	      "Cost": 0.5},
	    57: {"Day": (4, "Thursday"),
	     	  "Hour": (3, "9 am"),
	     	  "Cost": 0.5},
	    58: {"Day": (4, "Thursday"),
		      "Hour": (4, "9:30 am"),
		      "Cost": 0.5},
   	  59: {"Day": (4, "Thursday"),
		      "Hour": (5, "10 am"),
	 	      "Cost": 0.5},
	    60: {"Day": (4, "Thursday"),
	     	  "Hour": (6, "10:30 am"),
	     	  "Cost": 0.5},
      61: {"Day": (4, "Thursday"),
	     	  "Hour": (7, "11 am"),
	     	  "Cost": 0.5},
      62: {"Day": (4, "Thursday"),
		      "Hour": (8, "11:30 am"),
		      "Cost": 0.5},
   	  63: {"Day": (4, "Thursday"),
		      "Hour": (9, "1 pm"),
	 	      "Cost": 0.5},
	    64: {"Day": (4, "Thursday"),
	     	  "Hour": (10, "1:30 pm"),
	     	  "Cost": 0.5},
	    65: {"Day": (4, "Thursday"),
		      "Hour": (11, "2 pm"),
		      "Cost": 0.5},
   	  66: {"Day": (4, "Thursday"),
		      "Hour": (412, "2:30 pm"),
	 	      "Cost": 0.5},
	    67: {"Day": (4, "Thursday"),
	     	  "Hour": (13, "3 pm"),
	     	  "Cost": 0.5},
      68: {"Day": (4, "Thursday"),
	     	  "Hour": (14, "3:30 pm"),
	     	  "Cost": 0.5},
      69: {"Day": (4, "Thursday"),
		      "Hour": (15, "4 pm"),
		      "Cost": 0.5},
   	  70: {"Day": (4, "Thursday"),
		      "Hour": (16, "4:30 pm"),
	 	      "Cost": 0.5},
	    71: {"Day": (4, "Thursday"),
	     	  "Hour": (17, "5 pm"),
	     	  "Cost": 0.5},
	    72: {"Day": (4, "Thursday"),
		      "Hour": (18, "5:30 pm"),
		      "Cost": 0.5},
      73: {"Day": (5, "Friday"),
		      "Hour": (1, "8 am"),
		      "Cost": 0.5},
   	  74: {"Day": (5, "Friday"),
		      "Hour": (2, "8:30 am"),
	 	      "Cost": 0.5},
	    75: {"Day": (5, "Friday"),
	     	  "Hour": (3, "9 am"),
	     	  "Cost": 0.5},
	    76: {"Day": (5, "Friday"),
		      "Hour": (4, "9:30 am"),
		      "Cost": 0.5},
   	  77: {"Day": (5, "Friday"),
		      "Hour": (5, "10 am"),
	 	      "Cost": 0.5},
	    78: {"Day": (5, "Friday"),
	     	  "Hour": (6, "10:30 am"),
	     	  "Cost": 0.5},
      79: {"Day": (5, "Friday"),
	     	  "Hour": (7, "11 am"),
	     	  "Cost": 0.5},
      80: {"Day": (5, "Friday"),
		      "Hour": (8, "11:30 am"),
		      "Cost": 0.5},
   	  81: {"Day": (5, "Friday"),
		      "Hour": (9, "1 pm"),
	 	      "Cost": 0.5},
	    82: {"Day": (5, "Friday"),
	     	  "Hour": (10, "1:30 pm"),
	     	  "Cost": 0.5},
	    83: {"Day": (5, "Friday"),
		      "Hour": (11, "2 pm"),
		      "Cost": 0.5},
   	  84: {"Day": (5, "Friday"),
		      "Hour": (12, "2:30 pm"),
	 	      "Cost": 0.5},
	    85: {"Day": (5, "Friday"),
	     	  "Hour": (13, "3 pm"),
	     	  "Cost": 0.5},
      86: {"Day": (5, "Friday"),
	     	  "Hour": (14, "3:30 pm"),
	     	  "Cost": 0.5},
      87: {"Day": (5, "Friday"),
		      "Hour": (15, "4 pm"),
		      "Cost": 0.5},
   	  88: {"Day": (5, "Friday"),
		      "Hour": (16, "4:30 pm"),
	 	      "Cost": 0.5},
	    89: {"Day": (5, "Friday"),
	     	  "Hour": (17, "5 pm"),
	     	  "Cost": 0.5},
	    90: {"Day": (5, "Friday"),
		      "Hour": (18, "5:30 pm"),
		      "Cost": 0.5}}

In [ ]:
# T = {(1,1):('Monday','8am'), (1,2):('Monday','8:30am'), (1,3):('Monday','9am'), (1,4):('Monday','9:30am'), (1,5):('Monday','10am')
#       , (1,6):('Monday','10:30am'), (1,7):('Monday','11am'), (1,8):('Monday','11:30am'), (1,9):('Monday','1pm')
#       , (1,10):('Monday','1:30pm'), (1,11):('Monday','2pm'), (1,12):('Monday','2:30pm'), (1,13):('Monday','3pm')
#       , (1,14):('Monday','3:30pm'), (1,15):('Monday','4pm'), (1,16):('Monday','4:30pm'), (1,17):('Monday','5am'), (1,18):('Monday','5:30pm'),(1,19):('Monday','6pm')
#       , (2,1):('Tuesday','8am'), (2,2):('Tuesday','8:30am'), (2,3):('Tuesday','9am'), (2,4):('Tuesday','9:30am'), (2,5):('Tuesday','10am')
#       , (2,6):('Tuesday','10:30am'), (2,7):('Tuesday','11am'), (2,8):('Tuesday','11:30am'), (2,9):('Tuesday','1pm')
#       , (2,10):('Tuesday','1:30pm'), (2,11):('Tuesday','2pm'), (2,12):('Tuesday','2:30pm'), (2,13):('Tuesday','3pm')
#       , (2,14):('Tuesday','3:30pm'), (2,15):('Tuesday','4pm'), (2,16):('Tuesday','4:30pm'), (2,17):('Tuesday','5am'), (2,18):('Tuesday','5:30pm'),(2,19):('Tuesday','6pm')
#       , (3,1):('Wednesday','8am'), (3,2):('Wednesday','8:30am'), (3,3):('Wednesday','9am'), (3,4):('Wednesday','9:30am'), (3,5):('Wednesday','10am')
#       , (3,6):('Wednesday','10:30am'), (3,7):('Wednesday','11am'), (3,8):('Wednesday','11:30am'), (3,9):('Wednesday','1pm')
#       , (3,10):('Wednesday','1:30pm'), (3,11):('Wednesday','2pm'), (3,12):('Wednesday','2:30pm'), (3,13):('Wednesday','3pm')
#       , (3,14):('Wednesday','3:30pm'), (3,15):('Wednesday','4pm'), (3,16):('Wednesday','4:30pm'), (3,17):('Wednesday','5am'), (3,18):('Wednesday','5:30pm'),(3,19):('Wednesday','6pm')
#       , (4,1):('Thursday','8am'), (4,2):('Thursday','8:30am'), (4,3):('Thursday','9am'), (4,4):('Thursday','9:30am'), (4,5):('Thursday','10am')
#       , (4,6):('Thursday','10:30am'), (4,7):('Thursday','11am'), (4,8):('Thursday','11:30am'), (4,9):('Thursday','1pm')
#       , (4,10):('Thursday','1:30pm'), (4,11):('Thursday','2pm'), (4,12):('Thursday','2:30pm'), (4,13):('Thursday','3pm')
#       , (4,14):('Thursday','3:30pm'), (4,15):('Thursday','4pm'), (4,16):('Thursday','4:30pm'), (4,17):('Thursday','5am'), (4,18):('Thursday','5:30pm'),(4,19):('Thursday','6pm')
#       , (5,1):('Friday','8am'), (5,2):('Friday','8:30am'), (5,3):('Friday','9am'), (5,4):('Friday','9:30am'), (5,5):('Friday','10am')
#       , (5,6):('Friday','10:30am'), (5,7):('Friday','11am'), (5,8):('Friday','11:30am'), (5,9):('Friday','1pm')
#       , (5,10):('Friday','1:30pm'), (5,11):('Friday','2pm'), (5,12):('Friday','2:30pm'), (5,13):('Friday','3pm')
#       , (5,14):('Friday','3:30pm'), (5,15):('Friday','4pm'), (5,16):('Friday','4:30pm'), (5,17):('Friday','5am'), (5,18):('Friday','5:30pm'),(5,19):('Friday','6pm') }

A set of classrooms R

```
A set of classrooms R
R = {1: {"Name":'SC6409',
		 "Capacity": 30,
		 "Type": ["lecture","lab"].
		 "Cost": 0},
	 2: {"Name":'SC6501',
		 "Capacity": 60,
		 "Type": ["lecture"].
		 "Cost": 0},
	 ...}
capacity = 40 --> R[1][1]
list(R.keys())[0]
R[list(R.keys())[0]][1]
- Room capacity rc_r ห้องเรียน r ที่มีความจุได้ rc_r คน
- Cost of using that classrooms k_r
```
Definition


```
r = {1:'SC6409', 2:'SC6501', 3:'SC6502', 4:'LAB'}
c = {1:'40', 2:'75', 3:'80' , 4:'40'}
```

In [ ]:
R = {1: {"Name":'SC6409',
		 "Capacity": 40,
		 "Type": ["lecture","lab"],
		 "Cost": 0},
	 2: {"Name":'SC6501',
		 "Capacity": 60,
		 "Type": ["lecture"],
		 "Cost": 0}}

A set of courses C

```
C = {1: ('Stat Analz 1', {1:'Wichuda', 2:'Pitchaya'}), 2: ('Nonparametric',{2: 'Pitchaya'}), ...}
- cc_c: Course capacity
- d_c: Duration in a week of a course เวลาเรียนตามหน่วยกิต
- pr_c in {1,2,3}: Whole one period or separate periods in a week สอนกี่ครั้งในหนึ่งสัปดาห์ เข่น pr_c=1 เป็นการเรียนครั้งเดียวต่อสัปดาห์
```
```
A set of courses C
C = {1: {"courseName": 'Stat Analz 1',
		 "teachers": {1:'Wichuda', 2:'Pitchaya'},
		 "courseCapacity": 40,
		 "hoursPerWeek": [2,2],
		 "typeOfStudy": ["lecture", "lecture"]},
	 2: {"courseName": 'Nonparametric',
		 "teachers": {2:'Pitchaya'},
		 "courseCapacity": 30,
		 "hoursPerWeek": [3]
		 "typeOfStudy": ["lecture", "lab"]},
	 ...}
	 # If a course is taught more than once a day, then we divide the hoursPerWeek to be half-half
	 # A course is taught at most twice a day
- cc_c: Course capacity
- d_c: Duration in a week of a course เวลาเรียนตามหน่วยกิต
- pr_c in {1,2,3}: Whole one period or separate periods in a week สอนกี่ครั้งในหนึ่งสัปดาห์ เข่น pr_c=1 เป็นการเรียนครั้งเดียวต่อสัปดาห์
```

Definition
```
c = {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing"}
p = {1:"Wannaporn", 2:"Sukanya", 3:"Pitchaya"}
```

In [ ]:
C = {1: {"courseName": 'Experimental Design',
         "teachers": {1:'Wannaporn'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
         "typeOfStudy": ["lecture", "lab"],
     2: {"courseName": 'Research Methodology',
         "teachers": {2:'Sukanya'},
         "courseCapacity": 80,
         "hoursPerWeek": [2,2]},
         "typeOfStudy": ["lecture", "lecture"],
     3: {"courseName": 'Linear Programming',
         "teachers": {2:'Sukanya'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
         "typeOfStudy": ["lecture", "lecture"],
     4: {"courseName": 'Basic of Data Science',
         "teachers": {3:'Pitchaya'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
         "typeOfStudy": ["lecture", "lab"],
     5: {"courseName": 'Data Processing',
         "teachers": {1:'Wannaporn', 3:'Pitchaya'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2]},
         "typeOfStudy": ["lecture", "lab"],
     }

A set of professor P

```
P = {1: {'Name':'Wichuda',
		 'Availability': [1, 2, 3, 8, 40, ..., 90]},
	 2: {'Name':'Pitchaya',
		 'Availability': [1, 2, 3, 4, 5, ..., 90]},
	 ...}
- a_pt: Availability of a professor at time t
```

In [18]:
import random
P = {1: {'Name':'Wannaporn',
		 'Availability': [1, 2, 3, 8, 40, ..., 90]},
	   2: {'Name':'Sukanya',
		 'Availability': [1, 2, 3, 8, 40, ..., 90]},
     3: {'Name':'Pitchaya',
		 'Availability': [1, 2, 3, 8, 40, ..., 90]},
}
P

{1: {'Name': 'Wannaporn', 'Availability': [1, 2, 3, 8, 40, Ellipsis, 90]},
 2: {'Name': 'Sukanya', 'Availability': [1, 2, 3, 8, 40, Ellipsis, 90]},
 3: {'Name': 'Pitchaya', 'Availability': [1, 2, 3, 8, 40, Ellipsis, 90]}}

A set of students S


```
A set of students S
S = {1: {'StudentID': ‘654321’,
		 'Major': 'SIDS',
		 'Year': 2,
	   	 'CourseRegister': {1: 'Stat Analz 1',
	   	 					2: ‘Nonparametric'},
	   	 'Prerequisite': {}},
     2: {'StudentID': 667890,
		 'Major': 'STAT',
		 'Year': 3,
	   	 'CourseRegister:  {2: 'Nonparametric'}
	   	 'Prerequisite': {1: 'Stat Analz 1'}},
	…}
- (REMOVED) a_st: Availability of student at time t
```


```
c = {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing"}
```

In [ ]:
S = { 1: {'StudentID': '633020301',
          'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      2: {'StudentID': '633020302',
          'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      3: {'StudentID': '633020303',
          'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      4: {'StudentID': '633020304',
          'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"Experimental Design", 2:"Research Methodology", 3:"Linear Programming", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      5: {'StudentID': '633020305',
          'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {2:"Research Methodology", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      6: {'StudentID': '633020306',
          'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {2:"Research Methodology", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      7: {'StudentID': '633020307',
          'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {2:"Research Methodology", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      8: {'StudentID': '633020308',
          'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {2:"Research Methodology", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      9: {'StudentID': '633020309',
          'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {2:"Research Methodology", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
      10: {'StudentID': '633020310',
          'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {2:"Research Methodology", 4:"Basic of Data Science", 5:"Data Processing"},
          'Prerequiste': {}},
    }

Data: บางวิชามีผู้สอนร่วม

```
Key is a course c and Value is a set of professor(s) p teaching course c
PCassign = {[1]: [1,2],
	  		[2]: 2,
	  		[3]: 1,
	  		[4]: 3,
	  		[5]: [1,3]}
```



```
Constraints:
- for each r in R, for each t in T:  \sum_over_(c) x_srpct <= 1   >> หนึ่งห้องเรียนเรียนได้หนึ่งวิชาในคาบเรียนหนึ่ง


Customer = [1,2,3]
Customer = {1:['Peter'], 2:['Ya'], 3:'Meow'}
list(Customer.keys())


_______________________________________________

6. แต่ละวิชาเรียนในคาบที่ต่อเนื่องกันในหนึ่งวัน

C = {1: {"courseName": 'Stat Analz 1',
		 "teachers": {1:'Wichuda', 2:'Pitchaya'},
		 "courseCapacity": 40,
		 "hoursPerWeek": [2,2],
		 "typeOfStudy": ["lecture", "lecture"]}}

FOR EACH course c,
	IF len(C[c]["hoursPerWeek"]) == 1,
		THEN ADD_CONSTRAINT
			FOR EACH day
				sum(x_xrpct for each t in that day) <= C[c]["hoursPerWeek"]
	ELSE IF len(C[c]["hoursPerWeek"]) > 1,
		THEN ADD_CONSTRAINT
			FOR EACH h in C[c]["hoursPerWeek"]
			# i.e. C[c]["hoursPerWeek"] = [2,2]
			# Not allow C[c]["hoursPerWeek"] = [3,1]
				FOR EACH day
					sum(x_xrpct for each t in that day) <= h

COMBINE TO A SET OF CONSTRAINTS:
FOR EACH course c, ADD_CONSTRAINT ... FOR EACH s in S, r in R, p in P (select s,r,p that are related to course c)
	FOR EACH h in C[c]["hoursPerWeek"]
	# i.e. C[c]["hoursPerWeek"] = [2,2] OR [3]
	# Not allow C[c]["hoursPerWeek"] = [3,1]
		FOR EACH day
			sum(x_srpct for each t in that day) <= h


IF THERE IS A CLASS ON DAY d >> sum(x_xrpct for each t in that day) > 0,
	THEN sum(x_xrpct for each t in that day)

8 am, 8:30 am, 9 am, 9:30 am, 10 am, 10:30 am, 11 am, 11:30 am, 1 pm, 1:30 pm, 2 pm, 2:30 pm, 3 pm, 3:30 pm, 4 pm, 4:30 pm, 5 pm, 5:30 pm,
IF x(8 am) == 1 AND h in C[c]["hoursPerWeek"],
	THEN x(8 am) = 1 --> x(8 am + h/2) + ... + x(6 pm) = 0 ==>> x(8 am) + x(8 am + h) <=1
			x(8 am) <= M * sum(x(8 am + h/2) + ...) - 1
			IF x(8 am) == 1 THEN sum(x(8 am + h) + ...) is forced to be 0
			IF x(8 am) == 0 THEN

		 x(8:30 am) = 1 --> x(8:30 am + h) = 0 ==>> x(8:30 am) + x(8:30 am + h) <=1
		 ...
		 x(8:30 am) = 1 --> x(8:30 am + h) = 0 ==>> x(8:30 am) + x(8:30 am + h) <=1

_______________________________________________

7. ถ้าวิชาไหนเรียนมากกว่าสองวันให้เรียนห่างกันหนึ่งวัน

FOR EACH course c AND FOR EACH s in S, r in R, p in P (select s,r,p that are related to course c)
	IF t is on Mon (/Tue/Wed/Thr) AND sum(x_srpct over t on Mon (/Tue/Wed/Thr)) > 0,
		THEN sum(x_srpct for Tue (/Wed/Thr/Fri)) <= 0
	IF t in on Tue (/Wed/Thr/Fri) AND sum(x_srpct over t on Tue (/Wed/Thr/Fri)) > 0,
		THEN sum(x_srpct for Mon (/Tue/Wed/Thr)) <= 0

_______________________________________________

เรียนในห้องที่ตรงประเภทของการสอน เช่น ห้องแล็ป ห้องเลคเชอร์

C = {1: {"courseName": 'Stat Analz 1',
		 "teachers": {1:'Wichuda', 2:'Pitchaya'},
		 "courseCapacity": 40,
		 "hoursPerWeek": [2,2],
		 "typeOfStudy": ["lecture", "lecture"]}}

FOR EACH course c
	IF "lab" in C[c]["typeOfStudy"]
		THEN FOR room r in R that is not for lab,
			x_srpct == 0

```