<a href="https://colab.research.google.com/github/nattapon44/time-table-project/blob/main/model5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np

# **DATA**

A set of time period T

In [42]:
Tmo =  { 1: {"Day": (1, "Monday"),
		      "Hour": (1, "8 am")},
   	  2: {"Day": (1, "Monday"),
		      "Hour": (2, "8:30 am")},
	    3: {"Day": (1, "Monday"),
	     	  "Hour": (3, "9 am")},
	    4: {"Day": (1, "Monday"),
		      "Hour": (4, "9:30 am")},
   	  5: {"Day": (1, "Monday"),
		      "Hour": (5, "10 am")},
	    6: {"Day": (1, "Monday"),
	     	  "Hour": (6, "10:30 am")},
      7: {"Day": (1, "Monday"),
	     	  "Hour": (7, "11 am")},
      8: {"Day": (1, "Monday"),
		      "Hour": (8, "11:30 am")},
   	  9: {"Day": (1, "Monday"),
		      "Hour": (9, "1 pm")},
	    10: {"Day": (1, "Monday"),
	     	  "Hour": (10, "1:30 pm")},
	    11: {"Day": (1, "Monday"),
		      "Hour": (11, "2 pm")},
   	  12: {"Day": (1, "Monday"),
		      "Hour": (12, "2:30 pm")},
	    13: {"Day": (1, "Monday"),
	     	  "Hour": (13, "3 pm")},
      14: {"Day": (1, "Monday"),
	     	  "Hour": (14, "3:30 pm")},
      15: {"Day": (1, "Monday"),
		      "Hour": (15, "4 pm")},
   	  16: {"Day": (1, "Monday"),
		      "Hour": (16, "4:30 pm")},
	    17: {"Day": (1, "Monday"),
	     	  "Hour": (17, "5 pm")},
	    18: {"Day": (1, "Monday"),
		      "Hour": (18, "5:30 pm")}}

In [90]:
Ttue = {19: {"Day": (2, "Tuesday"),
		      "Hour": (1, "8 am")},
   	  20: {"Day": (2, "Tuesday"),
		      "Hour": (2, "8:30 am")},
	    21: {"Day": (2, "Tuesday"),
	     	  "Hour": (3, "9 am")},
	    22: {"Day": (2, "Tuesday"),
		      "Hour": (4, "9:30 am")},
   	  23: {"Day": (2, "Tuesday"),
		      "Hour": (5, "10 am")},
	    24: {"Day": (2, "Tuesday"),
	     	  "Hour": (6, "10:30 am")},
      25: {"Day": (2, "Tuesday"),
	     	  "Hour": (7, "11 am")},
      26: {"Day": (2, "Tuesday"),
		      "Hour": (8, "11:30 am")},
   	  27: {"Day": (2, "Tuesday"),
		      "Hour": (9, "1 pm")},
	    28: {"Day": (2, "Tuesday"),
	     	  "Hour": (10, "1:30 pm")},
	    29: {"Day": (2, "Tuesday"),
		      "Hour": (11, "2 pm")},
   	  30: {"Day": (2, "Tuesday"),
		      "Hour": (12, "2:30 pm")},
	    31: {"Day": (2, "Tuesday"),
	     	  "Hour": (13, "3 pm")},
      32: {"Day": (2, "Tuesday"),
	     	  "Hour": (14, "3:30 pm")},
      33: {"Day": (2, "Tuesday"),
		      "Hour": (15, "4 pm")},
   	  34: {"Day": (2, "Tuesday"),
		      "Hour": (16, "4:30 pm")},
	    35: {"Day": (2, "Tuesday"),
	     	  "Hour": (17, "5 pm")},
	    36: {"Day": (2, "Tuesday"),
		      "Hour": (18, "5:30 pm")}}

In [44]:
Twed = {37: {"Day": (3, "Wednesday"),
		      "Hour": (1, "8 am")},
   	  38: {"Day": (3, "Wednesday"),
		      "Hour": (2, "8:30 am")},
	    39: {"Day": (3, "Wednesday"),
	     	  "Hour": (3, "9 am")},
	    40: {"Day": (3, "Wednesday"),
		      "Hour": (4, "9:30 am")},
   	  41: {"Day": (3, "Wednesday"),
		      "Hour": (5, "10 am")},
	    42: {"Day": (3, "Wednesday"),
	     	  "Hour": (6, "10:30 am")},
      43: {"Day": (3, "Wednesday"),
	     	  "Hour": (7, "11 am")},
      44: {"Day": (3, "Wednesday"),
		      "Hour": (8, "11:30 am")},
   	  45: {"Day": (3, "Wednesday"),
		      "Hour": (9, "1 pm")},
	    46: {"Day": (3, "Wednesday"),
	     	  "Hour": (10, "1:30 pm")},
	    47: {"Day": (3, "Wednesday"),
		      "Hour": (11, "2 pm")},
   	  48: {"Day": (3, "Wednesday"),
		      "Hour": (12, "2:30 pm")},
	    49: {"Day": (3, "Wednesday"),
	     	  "Hour": (13, "3 pm")},
      50: {"Day": (3, "Wednesday"),
	     	  "Hour": (14, "3:30 pm")},
      51: {"Day": (3, "Wednesday"),
		      "Hour": (15, "4 pm")},
   	  52: {"Day": (3, "Wednesday"),
		      "Hour": (16, "4:30 pm")},
	    53: {"Day": (3, "Wednesday"),
	     	  "Hour": (17, "5 pm")},
	    54: {"Day": (3, "Wednesday"),
		      "Hour": (18, "5:30 pm")}}

In [45]:
Tth = {55: {"Day": (4, "Thursday"),
		      "Hour": (1, "8 am")},
   	  56: {"Day": (4, "Thursday"),
		      "Hour": (2, "8:30 am")},
	    57: {"Day": (4, "Thursday"),
	     	  "Hour": (3, "9 am")},
	    58: {"Day": (4, "Thursday"),
		      "Hour": (4, "9:30 am")},
   	  59: {"Day": (4, "Thursday"),
		      "Hour": (5, "10 am")},
	    60: {"Day": (4, "Thursday"),
	     	  "Hour": (6, "10:30 am")},
      61: {"Day": (4, "Thursday"),
	     	  "Hour": (7, "11 am")},
      62: {"Day": (4, "Thursday"),
		      "Hour": (8, "11:30 am")},
   	  63: {"Day": (4, "Thursday"),
		      "Hour": (9, "1 pm")},
	    64: {"Day": (4, "Thursday"),
	     	  "Hour": (10, "1:30 pm")},
	    65: {"Day": (4, "Thursday"),
		      "Hour": (11, "2 pm")},
   	  66: {"Day": (4, "Thursday"),
		      "Hour": (12, "2:30 pm")},
	    67: {"Day": (4, "Thursday"),
	     	  "Hour": (13, "3 pm")},
      68: {"Day": (4, "Thursday"),
	     	  "Hour": (14, "3:30 pm")},
      69: {"Day": (4, "Thursday"),
		      "Hour": (15, "4 pm")},
   	  70: {"Day": (4, "Thursday"),
		      "Hour": (16, "4:30 pm")},
	    71: {"Day": (4, "Thursday"),
	     	  "Hour": (17, "5 pm")},
	    72: {"Day": (4, "Thursday"),
		      "Hour": (18, "5:30 pm")}}

In [46]:
Tfri = {73: {"Day": (5, "Friday"),
		      "Hour": (1, "8 am")},
   	  74: {"Day": (5, "Friday"),
		      "Hour": (2, "8:30 am")},
	    75: {"Day": (5, "Friday"),
	     	  "Hour": (3, "9 am")},
	    76: {"Day": (5, "Friday"),
		      "Hour": (4, "9:30 am")},
   	  77: {"Day": (5, "Friday"),
		      "Hour": (5, "10 am")},
	    78: {"Day": (5, "Friday"),
	     	  "Hour": (6, "10:30 am")},
      79: {"Day": (5, "Friday"),
	     	  "Hour": (7, "11 am")},
      80: {"Day": (5, "Friday"),
		      "Hour": (8, "11:30 am")},
   	  81: {"Day": (5, "Friday"),
		      "Hour": (9, "1 pm")},
	    82: {"Day": (5, "Friday"),
	     	  "Hour": (10, "1:30 pm")},
	    83: {"Day": (5, "Friday"),
		      "Hour": (11, "2 pm")},
   	  84: {"Day": (5, "Friday"),
		      "Hour": (12, "2:30 pm")},
	    85: {"Day": (5, "Friday"),
	     	  "Hour": (13, "3 pm")},
      86: {"Day": (5, "Friday"),
	     	  "Hour": (14, "3:30 pm")},
      87: {"Day": (5, "Friday"),
		      "Hour": (15, "4 pm")},
   	  88: {"Day": (5, "Friday"),
		      "Hour": (16, "4:30 pm")},
	    89: {"Day": (5, "Friday"),
	     	  "Hour": (17, "5 pm")},
	    90: {"Day": (5, "Friday"),
		      "Hour": (18, "5:30 pm")}}

In [47]:
T = { 1: {"Day": (1, "Monday"),
		      "Hour": (1, "8 am")},
   	  2: {"Day": (1, "Monday"),
		      "Hour": (2, "8:30 am")},
	    3: {"Day": (1, "Monday"),
	     	  "Hour": (3, "9 am")},
	    4: {"Day": (1, "Monday"),
		      "Hour": (4, "9:30 am")},
   	  5: {"Day": (1, "Monday"),
		      "Hour": (5, "10 am")},
	    6: {"Day": (1, "Monday"),
	     	  "Hour": (6, "10:30 am")},
      7: {"Day": (1, "Monday"),
	     	  "Hour": (7, "11 am")},
      8: {"Day": (1, "Monday"),
		      "Hour": (8, "11:30 am")},
   	  9: {"Day": (1, "Monday"),
		      "Hour": (9, "1 pm")},
	    10: {"Day": (1, "Monday"),
	     	  "Hour": (10, "1:30 pm")},
	    11: {"Day": (1, "Monday"),
		      "Hour": (11, "2 pm")},
   	  12: {"Day": (1, "Monday"),
		      "Hour": (12, "2:30 pm")},
	    13: {"Day": (1, "Monday"),
	     	  "Hour": (13, "3 pm")},
      14: {"Day": (1, "Monday"),
	     	  "Hour": (14, "3:30 pm")},
      15: {"Day": (1, "Monday"),
		      "Hour": (15, "4 pm")},
   	  16: {"Day": (1, "Monday"),
		      "Hour": (16, "4:30 pm")},
	    17: {"Day": (1, "Monday"),
	     	  "Hour": (17, "5 pm")},
	    18: {"Day": (1, "Monday"),
		      "Hour": (18, "5:30 pm")},
      19: {"Day": (2, "Tuesday"),
		      "Hour": (1, "8 am")},
   	  20: {"Day": (2, "Tuesday"),
		      "Hour": (2, "8:30 am")},
	    21: {"Day": (2, "Tuesday"),
	     	  "Hour": (3, "9 am")},
	    22: {"Day": (2, "Tuesday"),
		      "Hour": (4, "9:30 am")},
   	  23: {"Day": (2, "Tuesday"),
		      "Hour": (5, "10 am")},
	    24: {"Day": (2, "Tuesday"),
	     	  "Hour": (6, "10:30 am")},
      25: {"Day": (2, "Tuesday"),
	     	  "Hour": (7, "11 am")},
      26: {"Day": (2, "Tuesday"),
		      "Hour": (8, "11:30 am")},
   	  27: {"Day": (2, "Tuesday"),
		      "Hour": (9, "1 pm")},
	    28: {"Day": (2, "Tuesday"),
	     	  "Hour": (10, "1:30 pm")},
	    29: {"Day": (2, "Tuesday"),
		      "Hour": (11, "2 pm")},
   	  30: {"Day": (2, "Tuesday"),
		      "Hour": (12, "2:30 pm")},
	    31: {"Day": (2, "Tuesday"),
	     	  "Hour": (13, "3 pm")},
      32: {"Day": (2, "Tuesday"),
	     	  "Hour": (14, "3:30 pm")},
      33: {"Day": (2, "Tuesday"),
		      "Hour": (15, "4 pm")},
   	  34: {"Day": (2, "Tuesday"),
		      "Hour": (16, "4:30 pm")},
	    35: {"Day": (2, "Tuesday"),
	     	  "Hour": (17, "5 pm")},
	    36: {"Day": (2, "Tuesday"),
		      "Hour": (18, "5:30 pm")},
      37: {"Day": (3, "Wednesday"),
		      "Hour": (1, "8 am")},
   	  38: {"Day": (3, "Wednesday"),
		      "Hour": (2, "8:30 am")},
	    39: {"Day": (3, "Wednesday"),
	     	  "Hour": (3, "9 am")},
	    40: {"Day": (3, "Wednesday"),
		      "Hour": (4, "9:30 am")},
   	  41: {"Day": (3, "Wednesday"),
		      "Hour": (5, "10 am")},
	    42: {"Day": (3, "Wednesday"),
	     	  "Hour": (6, "10:30 am")},
      43: {"Day": (3, "Wednesday"),
	     	  "Hour": (7, "11 am")},
      44: {"Day": (3, "Wednesday"),
		      "Hour": (8, "11:30 am")},
   	  45: {"Day": (3, "Wednesday"),
		      "Hour": (9, "1 pm")},
	    46: {"Day": (3, "Wednesday"),
	     	  "Hour": (10, "1:30 pm")},
	    47: {"Day": (3, "Wednesday"),
		      "Hour": (11, "2 pm")},
   	  48: {"Day": (3, "Wednesday"),
		      "Hour": (12, "2:30 pm")},
	    49: {"Day": (3, "Wednesday"),
	     	  "Hour": (13, "3 pm")},
      50: {"Day": (3, "Wednesday"),
	     	  "Hour": (14, "3:30 pm")},
      51: {"Day": (3, "Wednesday"),
		      "Hour": (15, "4 pm")},
   	  52: {"Day": (3, "Wednesday"),
		      "Hour": (16, "4:30 pm")},
	    53: {"Day": (3, "Wednesday"),
	     	  "Hour": (17, "5 pm")},
	    54: {"Day": (3, "Wednesday"),
		      "Hour": (18, "5:30 pm")},
      55: {"Day": (4, "Thursday"),
		      "Hour": (1, "8 am")},
   	  56: {"Day": (4, "Thursday"),
		      "Hour": (2, "8:30 am")},
	    57: {"Day": (4, "Thursday"),
	     	  "Hour": (3, "9 am")},
	    58: {"Day": (4, "Thursday"),
		      "Hour": (4, "9:30 am")},
   	  59: {"Day": (4, "Thursday"),
		      "Hour": (5, "10 am")},
	    60: {"Day": (4, "Thursday"),
	     	  "Hour": (6, "10:30 am")},
      61: {"Day": (4, "Thursday"),
	     	  "Hour": (7, "11 am")},
      62: {"Day": (4, "Thursday"),
		      "Hour": (8, "11:30 am")},
   	  63: {"Day": (4, "Thursday"),
		      "Hour": (9, "1 pm")},
	    64: {"Day": (4, "Thursday"),
	     	  "Hour": (10, "1:30 pm")},
	    65: {"Day": (4, "Thursday"),
		      "Hour": (11, "2 pm")},
   	  66: {"Day": (4, "Thursday"),
		      "Hour": (12, "2:30 pm")},
	    67: {"Day": (4, "Thursday"),
	     	  "Hour": (13, "3 pm")},
      68: {"Day": (4, "Thursday"),
	     	  "Hour": (14, "3:30 pm")},
      69: {"Day": (4, "Thursday"),
		      "Hour": (15, "4 pm")},
   	  70: {"Day": (4, "Thursday"),
		      "Hour": (16, "4:30 pm")},
	    71: {"Day": (4, "Thursday"),
	     	  "Hour": (17, "5 pm")},
	    72: {"Day": (4, "Thursday"),
		      "Hour": (18, "5:30 pm")},
      73: {"Day": (5, "Friday"),
		      "Hour": (1, "8 am")},
   	  74: {"Day": (5, "Friday"),
		      "Hour": (2, "8:30 am")},
	    75: {"Day": (5, "Friday"),
	     	  "Hour": (3, "9 am")},
	    76: {"Day": (5, "Friday"),
		      "Hour": (4, "9:30 am")},
   	  77: {"Day": (5, "Friday"),
		      "Hour": (5, "10 am")},
	    78: {"Day": (5, "Friday"),
	     	  "Hour": (6, "10:30 am")},
      79: {"Day": (5, "Friday"),
	     	  "Hour": (7, "11 am")},
      80: {"Day": (5, "Friday"),
		      "Hour": (8, "11:30 am")},
   	  81: {"Day": (5, "Friday"),
		      "Hour": (9, "1 pm")},
	    82: {"Day": (5, "Friday"),
	     	  "Hour": (10, "1:30 pm")},
	    83: {"Day": (5, "Friday"),
		      "Hour": (11, "2 pm")},
   	  84: {"Day": (5, "Friday"),
		      "Hour": (12, "2:30 pm")},
	    85: {"Day": (5, "Friday"),
	     	  "Hour": (13, "3 pm")},
      86: {"Day": (5, "Friday"),
	     	  "Hour": (14, "3:30 pm")},
      87: {"Day": (5, "Friday"),
		      "Hour": (15, "4 pm")},
   	  88: {"Day": (5, "Friday"),
		      "Hour": (16, "4:30 pm")},
	    89: {"Day": (5, "Friday"),
	     	  "Hour": (17, "5 pm")},
	    90: {"Day": (5, "Friday"),
		      "Hour": (18, "5:30 pm")}}

In [48]:
TD = {1: {("Monday")},
     2: {("Tuesday")},
     3: {("Wednesday")},
     4: {("Thursday")},
     5: {("Friday")}
}

A set of Room R

In [49]:
R = {1: {"Name":'SC6409',
		 "Capacity": 40,
		 "Type": "lecture"},
	   2: {"Name":'SC6410',
		 "Capacity": 8,
		 "Type": "lecture",},
		 3: {"Name":'mirrorRoom',
		 "Capacity": 8,
		 "Type": "lecture",},
		 4: {"Name":'labRoom',
		 "Capacity": 40,
		 "Type": "lab",},
		 5: {"Name":'SC6501',
		 "Capacity": 119,
		 "Type": "lecture",},
		 6: {"Name":'SC6502',
		 "Capacity": 104,
		 "Type": "lecture",}
		      }

A set of courses C

In [50]:
C = {1: {"courseName": 'SC653205',
         "teachers": {1:'A'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2],
         "type": ["lecture", "lecture"]},
     2: {"courseName": 'SC653206',
         "teachers": {2:'B'},
         "courseCapacity": 80,
         "hoursPerWeek": [2,2],
         "type": ["lecture", "lecture"]},
     3: {"courseName": 'SC653301',
         "teachers": {2:'B'},
         "courseCapacity": 40,
         "hoursPerWeek": [1,2],
         "type": ["lecture", "lecture"]},
     4: {"courseName": 'SC663405',
         "teachers": {3:'C'},
         "courseCapacity": 40,
         "hoursPerWeek": [1,2],
         "type": ["lab", "lab"]},
     5: {"courseName": 'SC653402',
         "teachers": {1:'A', 3:'C'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2],
         "type": ["lab", "lab"]},
     }

A set of professor P

In [51]:
P = {1: {'Name':'A',
         'course': {1:'SC653205', 5:'SC653402'},
         'weight':np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0, 0 ,0],
                   [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0, 0.5, 0.5 ,0.5],
                   [0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0.5, 0.5, 0.5, 0, 0.5 ,0.5],
                   [0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0.5, 1, 1, 0.5, 0.5 ,0.5],
                   [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5,0.5]])},
	   2: {'Name':'B',
         'course': {2:'SC653206', 3:'SC653301'},
         'weight':np.array([[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 1, 0.5, 0.5, 0.5 ,0.5],
                   [0, 0, 0, 0, 1, 1, 0, 0.5, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5 ,0.5],
                   [0, 0, 1, 0.5, 1, 0.5, 0.5, 1, 1, 1, 1, 1, 0.5, 1, 1, 1, 0.5 ,0.5],
                   [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0, 0, 1, 1 ,1],
                   [0, 0, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 1, 0 ,0]])},
     3: {'Name':'C',
         'course': {4:'SC663405', 5:'SC653402'},
         'weight':np.array([[0.5, 0.5, 0.5, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0.5, 0, 1, 1 ,0.5],
                   [0, 0, 1, 1, 1, 1, 1, 0.5, 0.5, 1, 1, 1, 0.5, 0.5, 0.5, 0, 0 ,0],
                   [0, 0, 1, 1, 1, 0.5, 1, 1, 0.5, 0.5, 0.5, 1, 0.5, 1, 1, 0.5, 0.5 ,0.5],
                   [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5 ,0.5],
                   [0, 0, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0, 0, 0 ,0]])}}

A set of students S

In [52]:
S = { 1: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      2: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      3: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      4: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      5: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      6: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      7: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      8: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      9: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      10: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
           'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])}
          }

In [53]:
 # input crt
 # output weight u_crt
 # course c
 # หา p ที่สอน c
 # หา index ของ p
[key for key in P.keys() if P[key]['Name'] == 'A'][0]

1

In [54]:
# ใช้ใน for loop
# for teachers in (C[c]['teachers'] for c in C):
#    print(teachers)

# แปลงเป็น list
pc = list(C[c]['teachers'] for c in C)
print(pc)

[{1: 'A'}, {2: 'B'}, {2: 'B'}, {3: 'C'}, {1: 'A', 3: 'C'}]

In [55]:
numteacher = len(pc)
print(numteacher)

5

In [56]:
numteacher = [len(C[key]['teachers']) for key in range(1, 6)]
print(numteacher)

[1, 1, 1, 1, 2]

In [108]:
for key in range(1, 6):
    numteacher = len(C[key]['teachers'])
print(numteacher)

2

In [106]:
[len(C[key]['teachers']) for key in C]

[1, 1, 1, 1, 2]

In [87]:
if numteacher == 1:
    weight = list(P[key]["weight"][0])
    print(weight)
elif numteacher == 2:
    weight_p1 = P[1]['weight']
    weight_p2 = P[2]['weight']
    weight_p3 = P[3]['weight']
    minimum_weight = np.minimum(weight_p1, np.minimum(weight_p2, weight_p3))
    print(minimum_weight)

[[0.  0.  0.  0.  1.  1.  0.  0.  0.  1.  0.5 0.5 0.5 0.5 0.  0.  0.  0. ]
 [0.  0.  0.  0.  1.  1.  0.  0.5 0.5 1.  1.  1.  0.5 0.5 0.  0.  0.  0. ]
 [0.  0.  0.  0.5 0.  0.5 0.5 1.  0.  0.5 0.5 1.  0.5 0.5 0.5 0.  0.5 0.5]
 [0.  0.  1.  1.  1.  1.  1.  0.  1.  1.  1.  0.  0.5 0.  0.  0.5 0.5 0.5]
 [0.  0.  0.5 0.5 0.5 1.  1.  1.  1.  0.5 0.5 0.5 0.5 0.5 0.  0.  0.  0. ]]

In [89]:
# หา type ของ R
# Type r
R[key]['Type']

'lecture'

In [85]:
# หา type ของ C
# Type c
C[key]['type']

['lab', 'lab']

In [93]:
for key in range(1, 6):
    type_r = R[key]['Type']
    type_c = C[key]['type']

In [ ]:
    if 'lab' in type_c:
        if 'lab' in type_r:
            weight = list(P[key]["weight"][0])
            print("Weight for lab:", weight)
        else:
            ucrt = 0
            print("UCRT for lab:", ucrt)

    if 'lecture' in type_c:
        if 'lecture' in type_r:
            weight = list(P[key]["weight"][0])
            print("Weight for lecture:", weight)
        else:
            ucrt = 0
            print("UCRT for lecture:", ucrt)

In [136]:
import numpy as np

def find_weight(C, R, T):
    result = []

    for key in range(1, 6):
        if key in P:
            numteacher = len(C[key]['teachers'])

            if numteacher == 1:
                weight = list(P[key]["weight"][0])
                result.append(("Weight", key, weight))
            elif numteacher == 2:
                weight_p1 = P[1]['weight'][0]
                weight_p2 = P[2]['weight'][0]
                weight_p3 = P[3]['weight'][0]
                minimum_weight = np.minimum(weight_p1, np.minimum(weight_p2, weight_p3))
                result.append(("Minimum Weight", key, minimum_weight))

            type_r = R[key]['Type']
            type_c = C[key]['type']

            if 'lab' in type_c:
                if 'lab' in type_r:
                    weight = list(P[key]["weight"][0])
                    result.append(("Weight for lab", key, weight))
                else:
                    ucrt = 0
                    result.append(("UCRT for lab", key, ucrt))

            if 'lecture' in type_c:
                if 'lecture' in type_r:
                    weight = list(P[key]["weight"][0])
                    result.append(("Weight for lecture", key, weight))
                else:
                    ucrt = 0
                    result.append(("UCRT for lecture", key, ucrt))
        else:
            print(f"Key {key} not found in P.")

    return result

result = find_weight(C, R, T)
for r in result:
    print(r)

Key 4 not found in P.
Key 5 not found in P.
('Weight', 1, [0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.5, 0.5, 0.0, 0.0, 0.0])
('Weight for lecture', 1, [0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.5, 0.5, 0.0, 0.0, 0.0])
('Weight', 2, [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.5, 0.5, 1.0, 0.5, 0.5, 0.5, 0.5])
('Weight for lecture', 2, [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.5, 0.5, 1.0, 0.5, 0.5, 0.5, 0.5])
('Weight', 3, [0.5, 0.5, 0.5, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.0, 1.0, 1.0, 0.5])
('Weight for lecture', 3, [0.5, 0.5, 0.5, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.0, 1.0, 1.0, 0.5])

In [147]:
for key in C.keys():
    hours_per_week = C[key]["hoursPerWeek"]
    h_c = sum(hours_per_week)*2
print(h_c)

8

In [137]:
num_of_period = [C[key]["hoursPerWeek"] for key in C]
converted_list = [sum(s) for s in num_of_period]
h_c = sum(converted_list) * 2
print(h_c)

36

# **Model**

In [91]:
!pip install pyomo
import sys
import numpy as np
from pyomo import environ as pe
from pyomo.environ import *

Collecting pyomo
  Downloading Pyomo-6.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 36.7 MB/s eta 0:00:00
Collecting ply (from pyomo)
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 3.4 MB/s eta 0:00:00
Installing collected packages: ply, pyomo
Successfully installed ply-3.11 pyomo-6.7.0

In [138]:
# สร้างโมเดล
model = ConcreteModel()
# Sets
model.C = Set(initialize=C.keys())  # รายวิชา
model.R = Set(initialize=R.keys())  # ห้องเรียน
model.T = Set(initialize=T.keys())  # ช่วงเวลา
model.P = Set(initialize=P.keys())  # ผู้สอน
model.S = Set(initialize=S.keys())  # นักศึกษา
model.D = Set(initialize=TD.keys())
model.T_M = Set(initialize=Tmo.keys())  # วันจันทร์
model.T_T = Set(initialize=Ttue.keys())  # วันอังคาร
model.T_W = Set(initialize=Twed.keys())  # วันพุธ
model.T_Th = Set(initialize=Tth.keys())  # วันพฤหัสบดี
model.T_F = Set(initialize=Tfri.keys())  # วันศุกร์
model.C_p = Set(initialize=P.keys())
model.C_s = Set(initialize=S.keys())
model.R_c = Set(initialize=C.keys())
model.T_p = Set(initialize=P.keys())
model.T_tc = Set(initialize=T.keys())

In [139]:
#Variables
model.x_crt = Var(model.C, model.R, model.T, within=Binary)

In [140]:
#objective function
model.objective = Objective(expr=sum(model.x_crt[c, r, t] for c in model.C for r in model.R_c for t in model.T), sense=maximize)

In [ ]:
objfunc = 0
for c:
  for r:
    for t:
      u=
      h=

# **Solve**

In [ ]:
!sudo apt-get install glpk-utils
solver = pe.SolverFactory('glpk', executable='/usr/bin/glpsol')
solution = solver.solve(model)

In [ ]:
from pyomo.opt import SolverFactory

# กำหนด Solver
opt = SolverFactory('glpk')
opt.solve(model, tee=True)

# แสดงผลลัพธ์
model.display()

In [ ]:
# บันทึกโมเดลเป็นไฟล์ .lp
model.write('model.lp', io_options={'symbolic_solver_labels': True})

from google.colab import files
files.download('model.lp')