<a href="https://colab.research.google.com/github/nattapon44/time-table-project/blob/main/model5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

# **DATA**

A set of time period T

In [2]:
Tmo =  { 1: {"Day": (1, "Monday"),
		      "Hour": (1, "8 am")},
   	  2: {"Day": (1, "Monday"),
		      "Hour": (2, "8:30 am")},
	    3: {"Day": (1, "Monday"),
	     	  "Hour": (3, "9 am")},
	    4: {"Day": (1, "Monday"),
		      "Hour": (4, "9:30 am")},
   	  5: {"Day": (1, "Monday"),
		      "Hour": (5, "10 am")},
	    6: {"Day": (1, "Monday"),
	     	  "Hour": (6, "10:30 am")},
      7: {"Day": (1, "Monday"),
	     	  "Hour": (7, "11 am")},
      8: {"Day": (1, "Monday"),
		      "Hour": (8, "11:30 am")},
   	  9: {"Day": (1, "Monday"),
		      "Hour": (9, "1 pm")},
	    10: {"Day": (1, "Monday"),
	     	  "Hour": (10, "1:30 pm")},
	    11: {"Day": (1, "Monday"),
		      "Hour": (11, "2 pm")},
   	  12: {"Day": (1, "Monday"),
		      "Hour": (12, "2:30 pm")},
	    13: {"Day": (1, "Monday"),
	     	  "Hour": (13, "3 pm")},
      14: {"Day": (1, "Monday"),
	     	  "Hour": (14, "3:30 pm")},
      15: {"Day": (1, "Monday"),
		      "Hour": (15, "4 pm")},
   	  16: {"Day": (1, "Monday"),
		      "Hour": (16, "4:30 pm")},
	    17: {"Day": (1, "Monday"),
	     	  "Hour": (17, "5 pm")},
	    18: {"Day": (1, "Monday"),
		      "Hour": (18, "5:30 pm")}}

In [3]:
Ttue = {19: {"Day": (2, "Tuesday"),
		      "Hour": (1, "8 am")},
   	  20: {"Day": (2, "Tuesday"),
		      "Hour": (2, "8:30 am")},
	    21: {"Day": (2, "Tuesday"),
	     	  "Hour": (3, "9 am")},
	    22: {"Day": (2, "Tuesday"),
		      "Hour": (4, "9:30 am")},
   	  23: {"Day": (2, "Tuesday"),
		      "Hour": (5, "10 am")},
	    24: {"Day": (2, "Tuesday"),
	     	  "Hour": (6, "10:30 am")},
      25: {"Day": (2, "Tuesday"),
	     	  "Hour": (7, "11 am")},
      26: {"Day": (2, "Tuesday"),
		      "Hour": (8, "11:30 am")},
   	  27: {"Day": (2, "Tuesday"),
		      "Hour": (9, "1 pm")},
	    28: {"Day": (2, "Tuesday"),
	     	  "Hour": (10, "1:30 pm")},
	    29: {"Day": (2, "Tuesday"),
		      "Hour": (11, "2 pm")},
   	  30: {"Day": (2, "Tuesday"),
		      "Hour": (12, "2:30 pm")},
	    31: {"Day": (2, "Tuesday"),
	     	  "Hour": (13, "3 pm")},
      32: {"Day": (2, "Tuesday"),
	     	  "Hour": (14, "3:30 pm")},
      33: {"Day": (2, "Tuesday"),
		      "Hour": (15, "4 pm")},
   	  34: {"Day": (2, "Tuesday"),
		      "Hour": (16, "4:30 pm")},
	    35: {"Day": (2, "Tuesday"),
	     	  "Hour": (17, "5 pm")},
	    36: {"Day": (2, "Tuesday"),
		      "Hour": (18, "5:30 pm")}}

In [4]:
Twed = {37: {"Day": (3, "Wednesday"),
		      "Hour": (1, "8 am")},
   	  38: {"Day": (3, "Wednesday"),
		      "Hour": (2, "8:30 am")},
	    39: {"Day": (3, "Wednesday"),
	     	  "Hour": (3, "9 am")},
	    40: {"Day": (3, "Wednesday"),
		      "Hour": (4, "9:30 am")},
   	  41: {"Day": (3, "Wednesday"),
		      "Hour": (5, "10 am")},
	    42: {"Day": (3, "Wednesday"),
	     	  "Hour": (6, "10:30 am")},
      43: {"Day": (3, "Wednesday"),
	     	  "Hour": (7, "11 am")},
      44: {"Day": (3, "Wednesday"),
		      "Hour": (8, "11:30 am")},
   	  45: {"Day": (3, "Wednesday"),
		      "Hour": (9, "1 pm")},
	    46: {"Day": (3, "Wednesday"),
	     	  "Hour": (10, "1:30 pm")},
	    47: {"Day": (3, "Wednesday"),
		      "Hour": (11, "2 pm")},
   	  48: {"Day": (3, "Wednesday"),
		      "Hour": (12, "2:30 pm")},
	    49: {"Day": (3, "Wednesday"),
	     	  "Hour": (13, "3 pm")},
      50: {"Day": (3, "Wednesday"),
	     	  "Hour": (14, "3:30 pm")},
      51: {"Day": (3, "Wednesday"),
		      "Hour": (15, "4 pm")},
   	  52: {"Day": (3, "Wednesday"),
		      "Hour": (16, "4:30 pm")},
	    53: {"Day": (3, "Wednesday"),
	     	  "Hour": (17, "5 pm")},
	    54: {"Day": (3, "Wednesday"),
		      "Hour": (18, "5:30 pm")}}

In [5]:
Tth = {55: {"Day": (4, "Thursday"),
		      "Hour": (1, "8 am")},
   	  56: {"Day": (4, "Thursday"),
		      "Hour": (2, "8:30 am")},
	    57: {"Day": (4, "Thursday"),
	     	  "Hour": (3, "9 am")},
	    58: {"Day": (4, "Thursday"),
		      "Hour": (4, "9:30 am")},
   	  59: {"Day": (4, "Thursday"),
		      "Hour": (5, "10 am")},
	    60: {"Day": (4, "Thursday"),
	     	  "Hour": (6, "10:30 am")},
      61: {"Day": (4, "Thursday"),
	     	  "Hour": (7, "11 am")},
      62: {"Day": (4, "Thursday"),
		      "Hour": (8, "11:30 am")},
   	  63: {"Day": (4, "Thursday"),
		      "Hour": (9, "1 pm")},
	    64: {"Day": (4, "Thursday"),
	     	  "Hour": (10, "1:30 pm")},
	    65: {"Day": (4, "Thursday"),
		      "Hour": (11, "2 pm")},
   	  66: {"Day": (4, "Thursday"),
		      "Hour": (12, "2:30 pm")},
	    67: {"Day": (4, "Thursday"),
	     	  "Hour": (13, "3 pm")},
      68: {"Day": (4, "Thursday"),
	     	  "Hour": (14, "3:30 pm")},
      69: {"Day": (4, "Thursday"),
		      "Hour": (15, "4 pm")},
   	  70: {"Day": (4, "Thursday"),
		      "Hour": (16, "4:30 pm")},
	    71: {"Day": (4, "Thursday"),
	     	  "Hour": (17, "5 pm")},
	    72: {"Day": (4, "Thursday"),
		      "Hour": (18, "5:30 pm")}}

In [6]:
Tfri = {73: {"Day": (5, "Friday"),
		      "Hour": (1, "8 am")},
   	  74: {"Day": (5, "Friday"),
		      "Hour": (2, "8:30 am")},
	    75: {"Day": (5, "Friday"),
	     	  "Hour": (3, "9 am")},
	    76: {"Day": (5, "Friday"),
		      "Hour": (4, "9:30 am")},
   	  77: {"Day": (5, "Friday"),
		      "Hour": (5, "10 am")},
	    78: {"Day": (5, "Friday"),
	     	  "Hour": (6, "10:30 am")},
      79: {"Day": (5, "Friday"),
	     	  "Hour": (7, "11 am")},
      80: {"Day": (5, "Friday"),
		      "Hour": (8, "11:30 am")},
   	  81: {"Day": (5, "Friday"),
		      "Hour": (9, "1 pm")},
	    82: {"Day": (5, "Friday"),
	     	  "Hour": (10, "1:30 pm")},
	    83: {"Day": (5, "Friday"),
		      "Hour": (11, "2 pm")},
   	  84: {"Day": (5, "Friday"),
		      "Hour": (12, "2:30 pm")},
	    85: {"Day": (5, "Friday"),
	     	  "Hour": (13, "3 pm")},
      86: {"Day": (5, "Friday"),
	     	  "Hour": (14, "3:30 pm")},
      87: {"Day": (5, "Friday"),
		      "Hour": (15, "4 pm")},
   	  88: {"Day": (5, "Friday"),
		      "Hour": (16, "4:30 pm")},
	    89: {"Day": (5, "Friday"),
	     	  "Hour": (17, "5 pm")},
	    90: {"Day": (5, "Friday"),
		      "Hour": (18, "5:30 pm")}}

In [7]:
T = { 1: {"Day": (1, "Monday"),
		      "Hour": (1, "8 am")},
   	  2: {"Day": (1, "Monday"),
		      "Hour": (2, "8:30 am")},
	    3: {"Day": (1, "Monday"),
	     	  "Hour": (3, "9 am")},
	    4: {"Day": (1, "Monday"),
		      "Hour": (4, "9:30 am")},
   	  5: {"Day": (1, "Monday"),
		      "Hour": (5, "10 am")},
	    6: {"Day": (1, "Monday"),
	     	  "Hour": (6, "10:30 am")},
      7: {"Day": (1, "Monday"),
	     	  "Hour": (7, "11 am")},
      8: {"Day": (1, "Monday"),
		      "Hour": (8, "11:30 am")},
   	  9: {"Day": (1, "Monday"),
		      "Hour": (9, "1 pm")},
	    10: {"Day": (1, "Monday"),
	     	  "Hour": (10, "1:30 pm")},
	    11: {"Day": (1, "Monday"),
		      "Hour": (11, "2 pm")},
   	  12: {"Day": (1, "Monday"),
		      "Hour": (12, "2:30 pm")},
	    13: {"Day": (1, "Monday"),
	     	  "Hour": (13, "3 pm")},
      14: {"Day": (1, "Monday"),
	     	  "Hour": (14, "3:30 pm")},
      15: {"Day": (1, "Monday"),
		      "Hour": (15, "4 pm")},
   	  16: {"Day": (1, "Monday"),
		      "Hour": (16, "4:30 pm")},
	    17: {"Day": (1, "Monday"),
	     	  "Hour": (17, "5 pm")},
	    18: {"Day": (1, "Monday"),
		      "Hour": (18, "5:30 pm")},
      19: {"Day": (2, "Tuesday"),
		      "Hour": (1, "8 am")},
   	  20: {"Day": (2, "Tuesday"),
		      "Hour": (2, "8:30 am")},
	    21: {"Day": (2, "Tuesday"),
	     	  "Hour": (3, "9 am")},
	    22: {"Day": (2, "Tuesday"),
		      "Hour": (4, "9:30 am")},
   	  23: {"Day": (2, "Tuesday"),
		      "Hour": (5, "10 am")},
	    24: {"Day": (2, "Tuesday"),
	     	  "Hour": (6, "10:30 am")},
      25: {"Day": (2, "Tuesday"),
	     	  "Hour": (7, "11 am")},
      26: {"Day": (2, "Tuesday"),
		      "Hour": (8, "11:30 am")},
   	  27: {"Day": (2, "Tuesday"),
		      "Hour": (9, "1 pm")},
	    28: {"Day": (2, "Tuesday"),
	     	  "Hour": (10, "1:30 pm")},
	    29: {"Day": (2, "Tuesday"),
		      "Hour": (11, "2 pm")},
   	  30: {"Day": (2, "Tuesday"),
		      "Hour": (12, "2:30 pm")},
	    31: {"Day": (2, "Tuesday"),
	     	  "Hour": (13, "3 pm")},
      32: {"Day": (2, "Tuesday"),
	     	  "Hour": (14, "3:30 pm")},
      33: {"Day": (2, "Tuesday"),
		      "Hour": (15, "4 pm")},
   	  34: {"Day": (2, "Tuesday"),
		      "Hour": (16, "4:30 pm")},
	    35: {"Day": (2, "Tuesday"),
	     	  "Hour": (17, "5 pm")},
	    36: {"Day": (2, "Tuesday"),
		      "Hour": (18, "5:30 pm")},
      37: {"Day": (3, "Wednesday"),
		      "Hour": (1, "8 am")},
   	  38: {"Day": (3, "Wednesday"),
		      "Hour": (2, "8:30 am")},
	    39: {"Day": (3, "Wednesday"),
	     	  "Hour": (3, "9 am")},
	    40: {"Day": (3, "Wednesday"),
		      "Hour": (4, "9:30 am")},
   	  41: {"Day": (3, "Wednesday"),
		      "Hour": (5, "10 am")},
	    42: {"Day": (3, "Wednesday"),
	     	  "Hour": (6, "10:30 am")},
      43: {"Day": (3, "Wednesday"),
	     	  "Hour": (7, "11 am")},
      44: {"Day": (3, "Wednesday"),
		      "Hour": (8, "11:30 am")},
   	  45: {"Day": (3, "Wednesday"),
		      "Hour": (9, "1 pm")},
	    46: {"Day": (3, "Wednesday"),
	     	  "Hour": (10, "1:30 pm")},
	    47: {"Day": (3, "Wednesday"),
		      "Hour": (11, "2 pm")},
   	  48: {"Day": (3, "Wednesday"),
		      "Hour": (12, "2:30 pm")},
	    49: {"Day": (3, "Wednesday"),
	     	  "Hour": (13, "3 pm")},
      50: {"Day": (3, "Wednesday"),
	     	  "Hour": (14, "3:30 pm")},
      51: {"Day": (3, "Wednesday"),
		      "Hour": (15, "4 pm")},
   	  52: {"Day": (3, "Wednesday"),
		      "Hour": (16, "4:30 pm")},
	    53: {"Day": (3, "Wednesday"),
	     	  "Hour": (17, "5 pm")},
	    54: {"Day": (3, "Wednesday"),
		      "Hour": (18, "5:30 pm")},
      55: {"Day": (4, "Thursday"),
		      "Hour": (1, "8 am")},
   	  56: {"Day": (4, "Thursday"),
		      "Hour": (2, "8:30 am")},
	    57: {"Day": (4, "Thursday"),
	     	  "Hour": (3, "9 am")},
	    58: {"Day": (4, "Thursday"),
		      "Hour": (4, "9:30 am")},
   	  59: {"Day": (4, "Thursday"),
		      "Hour": (5, "10 am")},
	    60: {"Day": (4, "Thursday"),
	     	  "Hour": (6, "10:30 am")},
      61: {"Day": (4, "Thursday"),
	     	  "Hour": (7, "11 am")},
      62: {"Day": (4, "Thursday"),
		      "Hour": (8, "11:30 am")},
   	  63: {"Day": (4, "Thursday"),
		      "Hour": (9, "1 pm")},
	    64: {"Day": (4, "Thursday"),
	     	  "Hour": (10, "1:30 pm")},
	    65: {"Day": (4, "Thursday"),
		      "Hour": (11, "2 pm")},
   	  66: {"Day": (4, "Thursday"),
		      "Hour": (12, "2:30 pm")},
	    67: {"Day": (4, "Thursday"),
	     	  "Hour": (13, "3 pm")},
      68: {"Day": (4, "Thursday"),
	     	  "Hour": (14, "3:30 pm")},
      69: {"Day": (4, "Thursday"),
		      "Hour": (15, "4 pm")},
   	  70: {"Day": (4, "Thursday"),
		      "Hour": (16, "4:30 pm")},
	    71: {"Day": (4, "Thursday"),
	     	  "Hour": (17, "5 pm")},
	    72: {"Day": (4, "Thursday"),
		      "Hour": (18, "5:30 pm")},
      73: {"Day": (5, "Friday"),
		      "Hour": (1, "8 am")},
   	  74: {"Day": (5, "Friday"),
		      "Hour": (2, "8:30 am")},
	    75: {"Day": (5, "Friday"),
	     	  "Hour": (3, "9 am")},
	    76: {"Day": (5, "Friday"),
		      "Hour": (4, "9:30 am")},
   	  77: {"Day": (5, "Friday"),
		      "Hour": (5, "10 am")},
	    78: {"Day": (5, "Friday"),
	     	  "Hour": (6, "10:30 am")},
      79: {"Day": (5, "Friday"),
	     	  "Hour": (7, "11 am")},
      80: {"Day": (5, "Friday"),
		      "Hour": (8, "11:30 am")},
   	  81: {"Day": (5, "Friday"),
		      "Hour": (9, "1 pm")},
	    82: {"Day": (5, "Friday"),
	     	  "Hour": (10, "1:30 pm")},
	    83: {"Day": (5, "Friday"),
		      "Hour": (11, "2 pm")},
   	  84: {"Day": (5, "Friday"),
		      "Hour": (12, "2:30 pm")},
	    85: {"Day": (5, "Friday"),
	     	  "Hour": (13, "3 pm")},
      86: {"Day": (5, "Friday"),
	     	  "Hour": (14, "3:30 pm")},
      87: {"Day": (5, "Friday"),
		      "Hour": (15, "4 pm")},
   	  88: {"Day": (5, "Friday"),
		      "Hour": (16, "4:30 pm")},
	    89: {"Day": (5, "Friday"),
	     	  "Hour": (17, "5 pm")},
	    90: {"Day": (5, "Friday"),
		      "Hour": (18, "5:30 pm")}}

In [21]:
TD =  {1: {"Monday"},
	     2: {"Tuesday"},
		   3: {"Wednesday"},
		   4: {"Thursday"},
		   5: {"Friday"}
      }

A set of Room R

In [17]:
R = {1: {"Name":'SC6409',
		 		 "Capacity": 40,
		     "Type": "lecture"},
	   2: {"Name":'SC6410',
		     "Capacity": 8,
		     "Type": "lecture",},
		 3: {"Name":'mirrorRoom',
		     "Capacity": 8,
		     "Type": "lecture",},
		 4: {"Name":'labRoom',
		     "Capacity": 40,
		    "Type": "lab",},
		 5: {"Name":'SC6501',
		    "Capacity": 119,
		    "Type": "lecture",},
		 6: {"Name":'SC6502',
		    "Capacity": 104,
		    "Type": "lecture",}
		}

A set of courses C

In [9]:
C = {1: {"courseName": 'SC653205',
         "teachers": {1:'A'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2],
         "type": ["lecture", "lecture"]},
     2: {"courseName": 'SC653206',
         "teachers": {2:'B'},
         "courseCapacity": 80,
         "hoursPerWeek": [2,2],
         "type": ["lecture", "lecture"]},
     3: {"courseName": 'SC653301',
         "teachers": {2:'B'},
         "courseCapacity": 40,
         "hoursPerWeek": [1,2],
         "type": ["lecture", "lecture"]},
     4: {"courseName": 'SC663405',
         "teachers": {3:'C'},
         "courseCapacity": 40,
         "hoursPerWeek": [1,2],
         "type": ["lab", "lab"]},
     5: {"courseName": 'SC653402',
         "teachers": {1:'A', 3:'C'},
         "courseCapacity": 40,
         "hoursPerWeek": [2,2],
         "type": ["lab", "lab"]},
     }

A set of professor P

In [10]:
P = {1: {'Name':'A',
         'course': {1:'SC653205', 5:'SC653402'},
         'weight':[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0, 0 ,0,
                   0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0, 0.5, 0.5 ,0.5,
                   0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0.5, 0.5, 0.5, 0, 0.5 ,0.5,
                   0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0.5, 1, 1, 0.5, 0.5 ,0.5,
                   0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5,0.5]},
	   2: {'Name':'B',
         'course': {2:'SC653206', 3:'SC653301'},
         'weight':[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 1, 0.5, 0.5, 0.5 ,0.5,
                   0, 0, 0, 0, 1, 1, 0, 0.5, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5 ,0.5,
                   0, 0, 1, 0.5, 1, 0.5, 0.5, 1, 1, 1, 1, 1, 0.5, 1, 1, 1, 0.5 ,0.5,
                   0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0, 0, 1, 1 , 1,
                   0, 0, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 1, 0 ,0]},
     3: {'Name':'C',
         'course': {4:'SC663405', 5:'SC653402'},
         'weight':[0.5, 0.5, 0.5, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0.5, 0, 1, 1 ,0.5,
                   0, 0, 1, 1, 1, 1, 1, 0.5, 0.5, 1, 1, 1, 0.5, 0.5, 0.5, 0, 0 ,0,
                   0, 0, 1, 1, 1, 0.5, 1, 1, 0.5, 0.5, 0.5, 1, 0.5, 1, 1, 0.5, 0.5 ,0.5,
                   0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5 ,0.5,
                   0, 0, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0, 0, 0 ,0]}}

A set of students S

In [11]:
S = { 1: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      2: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      3: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      4: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      5: {'Major': 'STAT',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      6: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      7: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      8: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      9: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
          'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])},
      10: {'Major': 'SIDS',
          'Year': 3,
          'courseRegister':  {1:"SC653205", 2:"SC653206", 3:"SC653301", 4:"SC663405", 5:"SC653402"},
           'Availability': np.array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
                                    [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]])}
          }

In [12]:
 # input crt
 # output weight u_crt
 # course c
 # หา p ที่สอน c
 # หา index ของ p
[key for key in P.keys() if P[key]['Name'] == 'A'][0]

1

In [ ]:
# ใช้ใน for loop
# for teachers in (C[c]['teachers'] for c in C):
#    print(teachers)

# แปลงเป็น list
pc = list(C[c]['teachers'] for c in C)
print(pc)

[{1: 'A'}, {2: 'B'}, {2: 'B'}, {3: 'C'}, {1: 'A', 3: 'C'}]

In [ ]:
for key in C.keys():
    Pp = C[key]['teachers']
numteacher = len(Pp)
print(numteacher)

2

In [78]:
if numteacher == 1:
    weight = list(P[key]["weight"][0])
    print(weight)
elif numteacher == 2:
    weight_p1 = P[1]['weight']
    weight_p2 = P[2]['weight']
    weight_p3 = P[3]['weight']
    minimum_weight = np.minimum(weight_p1, np.minimum(weight_p2, weight_p3))
    print(minimum_weight)

[0.  0.  0.  0.  1.  1.  0.  0.  0.  1.  0.5 0.5 0.5 0.5 0.  0.  0.  0.
 0.  0.  0.  0.  1.  1.  0.  0.5 0.5 1.  1.  1.  0.5 0.5 0.  0.  0.  0.
 0.  0.  0.  0.5 0.  0.5 0.5 1.  0.  0.5 0.5 1.  0.5 0.5 0.5 0.  0.5 0.5
 0.  0.  1.  1.  1.  1.  1.  0.  1.  1.  1.  0.  0.5 0.  0.  0.5 0.5 0.5
 0.  0.  0.5 0.5 0.5 1.  1.  1.  1.  0.5 0.5 0.5 0.5 0.5 0.  0.  0.  0. ]

In [ ]:
# หา type ของ R
# Type r
R[key]['Type']

'lecture'

In [ ]:
# หา type ของ C
# Type c
C[key]['type']

['lab', 'lab']

In [ ]:
for key in R.keys():
  for key in C.keys():
    type_r = R[key]['Type']
    type_c = C[key]['type']
print(type_r)
print(type_c)

lecture
['lab', 'lab']

In [ ]:
for key in R.keys():
  for key in C.keys():
    for key in P.keys():
     type_r = R[key]['Type']
     type_c = C[key]['type']
     if 'lab' in type_c:
         if 'lab' in type_r:
             weight = list(P[key]["weight"][0])
             print("Weight for lab:", weight)
         else:
             ucrt = 0
             print("UCRT for lab:", ucrt)

     if 'lecture' in type_c:
         if 'lecture' in type_r:
             weight = list(P[key]["weight"][0])
             print("Weight for lecture:", weight)
         else:
             ucrt = 0
             print("UCRT for lecture:", ucrt)

In [ ]:
for key in C.keys():
    hours_per_week = C[key]["hoursPerWeek"]
    h_c = sum(hours_per_week)*2
print(h_c)

8

In [32]:
for key in P.keys():
    for key in C.keys():
        Pp = C[key]['teachers']
        numteacher = len(Pp)

for key in R.keys():
    for key in C.keys():
        type_r = R[key]['Type']
        type_c = C[key]['type']


def find_ucrt(C, R, dt):
    result = {}

    if numteacher == 1:
        weight = list(P[key]['weight'][0])
        result[key] = weight
    elif numteacher == 2:
        weight_p1 = P[1]['weight'][0]
        weight_p2 = P[2]['weight'][0]
        weight_p3 = P[3]['weight'][0]
        minimum_weight = np.minimum(weight_p1, np.minimum(weight_p2, weight_p3))
        result[key] = minimum_weight

    if 'lab' in type_c and 'lab' in type_r:
        weight = list(P[key]['weight'][0])
        result[key] = weight
    elif 'lecture' in type_c and 'lecture' in type_r:
        weight = list(P[key]['weight'][0])
        result[key] = weight
    else:
        weight = 0
        result[key] = weight

    return result

In [18]:
import numpy as np

def find_ucrt(C, R, T):
    result = {}
    for key_p in P.keys():
        for key_c in C.keys():
            for key_r in R.keys():
                Pp = C[key_c]['teachers']
                numteacher = len(Pp)
                type_r = R[key_r]['Type']
                type_c = C[key_c]['type']

                key = (key_p, key_c, key_r)

                if numteacher == 1:
                    weight = list(P[key_p]['weight'][0])
                    result[key] = weight
                elif numteacher == 2:
                    weight_p1 = P[1]['weight'][0]
                    weight_p2 = P[2]['weight'][0]
                    weight_p3 = P[3]['weight'][0]
                    minimum_weight = np.minimum(weight_p1, np.minimum(weight_p2, weight_p3))
                    result[key] = minimum_weight

                if 'lab' in type_c and 'lab' in type_r:
                    weight = list(P[key_p]['weight'][0])
                    result[key] = weight
                elif 'lecture' in type_c and 'lecture' in type_r:
                    weight = list(P[key_p]['weight'][0])
                    result[key] = weight
                else:
                    weight = 0
                    result[key] = weight

    return result

In [34]:
find_ucrt(5,2,Tfri)

{5: 0}

In [15]:
def hc(C):
    h_c = 0
    for key in C.keys():
        hours_per_week = C[key]["hoursPerWeek"]
        h_c = sum(hours_per_week) * 2

    return h_c

In [27]:
find_ucrt_result = find_ucrt(C, R, T)

ucrt_per_hc = {}
for key in find_ucrt_result.keys():
    ucrt_per_hc[key] = find_ucrt_result[key] / hc(C)

print("UCRT per HC:", ucrt_per_hc)

UCRT per HC: {5: 0.0}

# **Model**

In [20]:
!pip install pyomo
import sys
import numpy as np
from pyomo import environ as pe
from pyomo.environ import *

Collecting pyomo
  Downloading Pyomo-6.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 23.0 MB/s eta 0:00:00
Collecting ply (from pyomo)
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 5.6 MB/s eta 0:00:00
Installing collected packages: ply, pyomo
Successfully installed ply-3.11 pyomo-6.7.0

In [22]:
# สร้างโมเดล
model = ConcreteModel()
# Sets
model.C = Set(initialize=C.keys())  # รายวิชา
model.R = Set(initialize=R.keys())  # ห้องเรียน
model.T = Set(initialize=T.keys())  # ช่วงเวลา
model.P = Set(initialize=P.keys())  # ผู้สอน
model.S = Set(initialize=S.keys())  # นักศึกษา
model.D = Set(initialize=TD.keys())
model.T_M = Set(initialize=Tmo.keys())  # วันจันทร์
model.T_T = Set(initialize=Ttue.keys())  # วันอังคาร
model.T_W = Set(initialize=Twed.keys())  # วันพุธ
model.T_Th = Set(initialize=Tth.keys())  # วันพฤหัสบดี
model.T_F = Set(initialize=Tfri.keys())  # วันศุกร์
model.C_p = Set(initialize=P.keys())
model.C_s = Set(initialize=S.keys())
model.R_c = Set(initialize=C.keys())
model.T_p = Set(initialize=P.keys())
model.T_tc = Set(initialize=T.keys())

In [29]:
#Variables
model.x_crt = Var(model.C, model.R, model.T, within=Binary)

In [ ]:
#objective function
model.objective = Objective(expr=sum(model.x_crt[c, r, t] for c in model.C for r in model.R_c for t in model.T), sense=maximize)

In [ ]:
def Objective_rule(model):
    return sum([ucrt_per_hc*model.x_crt[C, R, T] for c in model.C for r in model.R for t in model.T])


model.obj = Objective(rule=Objective_rule, sense=maximize)

In [ ]:
# Constraints
# Constraint 1
model.const1 = ConstraintList()
for t in T:
    for r in R:
        model.const1.add(sum(model.x[c, r, t] for c in C) <= 1)

# Constraint 2
model.const2 = ConstraintList()
for p in P:
    for t in T:
        model.const2.add(sum(model.x[c, r, t] for r in R for c in Cp) <= 1)

# Constraint 3
model.const3 = ConstraintList()
for r in R:
    for c in C:
        for t in T:
            model.const3.add(sum(model.z[s, c, r, t] for s in S) <= cap_r[r])

# Constraint 4
model.const4 = ConstraintList()
for c in C:
    for r in Rc:
        for t in T:
            model.const4.add(sum(model.z[s, c, r, t] for s in S) <= cap_c[c])

# Constraint 5
model.const5 = ConstraintList()
for c in C:
    for r in Rc:
        for d in D:
            for t in Td:
                model.const5.add(sum(model.x[c, r, tt] for tt in T_prime[d]) <= len(T_prime[d]) * (1 - model.x[c, r, t]))

# Constraint 6
model.const6 = ConstraintList()
model.const6.add(sum(model.x[c, r, t] for c in C for r in Rc for t in [9, 26, 44, 62, 80]) <= 1)

# Constraint 7
model.const7 = ConstraintList()
for c in C:
    model.const7.add(model.v[c, 'M'] + model.v[c, 'Tu'] <= 1)
    model.const7.add(model.v[c, 'Tu'] + model.v[c, 'W'] <= 1)
    model.const7.add(model.v[c, 'W'] + model.v[c, 'Th'] <= 1)
    model.const7.add(model.v[c, 'Th'] + model.v[c, 'F'] <= 1)

# Constraint 8
model.const8 = ConstraintList()
for c in C:
    model.const8.add(sum(model.x[c, r, t] for r in R for t in T) <= model.w[c, 'w'] * sum(model.x[c, r, t] for r in R for t in T))

# Constraint 9
model.const9 = ConstraintList()
for s in S:
    for c in Cs:
        for r in Rc:
            for t in T:
                model.const9.add(model.x[c, r, t] <= model.z[s, c, r, t])

# Constraint 10
model.const10 = ConstraintList()
for p in P:
    for c in Cp:
        for r in Rc:
            for t in T:
                model.const10.add(model.x[c, r, t] == 0)

# Constraint 11
model.const11 = ConstraintList()
for p in P:
    for d in D:
        model.const11.add(sum(model.x[c, r, t] for c in Cp for r in Rc for t in Td) <= 2 * k_p[p])

# Constraint 12
model.const12 = ConstraintList()
for s in S:
    model.const12.add(sum(model.z[s, c, r, t] for c in Cs for r in Rc for t in T_day) <= 2 * k_s)

# Constraint 13
model.const13 = ConstraintList()
for c in C:
    model.const13.add(sum(model.w[c, d] for d in D) == kc[c])

# **Solve**

In [ ]:
!sudo apt-get install glpk-utils
solver = pe.SolverFactory('glpk', executable='/usr/bin/glpsol')
solution = solver.solve(model)

In [ ]:
from pyomo.opt import SolverFactory

# กำหนด Solver
opt = SolverFactory('glpk')
opt.solve(model, tee=True)

# แสดงผลลัพธ์
model.display()

In [ ]:
# บันทึกโมเดลเป็นไฟล์ .lp
model.write('model.lp', io_options={'symbolic_solver_labels': True})

from google.colab import files
files.download('model.lp')